/*
 * HTML element styles
 */

/* box model: http://goo.gl/quQpCV */
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }


/* containers */
    body {
        font-family: var(--font-body);
    }


/* headings */
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-headings);
    }

    h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
        font-family: var(--font-headings-bold);
    }

    h1 {
    }

    h2 {
    }


/* text */
    p {
    }


/* lists */
    ul, ol { }
    li { }


/* media */
    img {
        max-width: 100%;
        height: auto;
    }

    video { }


/* links */
    a {
        transition: all var(--transition-time);
        color: var(--colour-green);
        text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
        color: var(--colour-orange);
        text-decoration: underline;
    }


/* forms */
    form {}
    fieldset {}
    legend {}
    label {}

    /* radio/checkboxes */
        input[type="radio"],
        input[type="checkbox"] { }
