/**
 * HTML - basic reset for main element styles
 */

/* box model: http://goo.gl/quQpCV */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* containers */

body {
  background: var(--colour-black);
  color: var(--colour-white);
  font-family: var(--font-body);
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  font-weight: normal;
}

/* text */

p {
  font-size: 1.2rem;
}

blockquote {
  border-left: 10px solid var(--colour-grey-mid);
  padding: 0 1rem;
}

/* lists */

li {
  font-size: 1.2rem;
}

/* media */

img {
  height: auto;
  max-width: 100%;
}

/* links */

a {
  color: var(--colour-green);
  position: relative;
  text-decoration: none;
  transition: all var(--transition-time);
}

/* after - underline */

a::after {
  border-bottom: 1px solid var(--colour-green);
  bottom: 0.3rem;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  transition: all var(--transition-time);
}

a:hover::after,
a:focus::after,
a:active::after {
  border-bottom-color: var(--colour-orange);
}

/* before - > arrow */

a::before {
  border-bottom: 1px solid transparent; /* alignment */
  bottom: 0.5rem;
  color: var(--colour-orange);
  content: " \0003E"; /* > */
  font-family: var(--font-headings);
  line-height: 1;
  opacity: 0;
  position: absolute;
  right: -0.3rem;
  transition: all var(--transition-time);
}

a:hover::before,
a:focus::before,
a:active::before {
  opacity: 1;
  right: -0.8rem;
}

/* remove default link styles */

a.is-arrowless {
  border: 0;
}

a.is-arrowless::before,
a.is-arrowless::after {
  display: none;
}

/* forms */
