/**
 * @define Feed; use strict
 *
 * Feed elements - API data
 */

.Feed-item {
  line-height: 1.5;
  margin-bottom: 1.5rem;
  padding-left: 2.5rem;
  position: relative;
}

/* element icon + label */

.Feed-icon {
  left: 0;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 3px;
}

.Feed-iconLabel {
  color: var(--colour-grey-mid);
  display: block;
  font-size: 0.5rem;
}

/* element displayed during API request */

.Feed-loader {
  background: url("../images/loading.svg") transparent no-repeat right center;
  padding-right: 2rem;
}

/* element containing date */

.Feed-date {
  display: block;
  font-size: 0.8rem;
}

/* element containing name of data provider */

.Feed-source {
  color: var(--colour-grey-mid);
  display: block;
  font-size: 0.8rem;
}

/* errors */

.Feed-error {
  color: #f00;
  font-size: 0.8rem;
}

/*
 * Styles for specific feed types
 */

/* playlist list */

.Feed-item--playlist {
  margin-bottom: 0.5rem;
  padding: 0;
}

/* artist list */

.Feed-item--artist {
  margin-bottom: 0.5rem;
  padding: 0;
  position: relative;
}

.Feed-item--artist .Feed-fill {
  background: var(--colour-grey-mid);
  bottom: 0;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
}

.Feed-item--artist .Feed-filler {
  background: var(--colour-orange);
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.Feed-item--artist .Feed-playcount {
  color: var(--colour-grey-mid);
  font-size: 0.8rem;
}

/* photo list */

.Feed-item--photo {
  margin-bottom: 0.5rem;
  overflow: hidden;
  padding: 0;
}

.Feed-item--photo .Feed-link {
  border: 0 solid var(--colour-orange);
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all var(--transition-time);
  width: 100%;
}

.Feed-item--photo .Feed-link:hover {
  border-bottom-width: 3px;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}

.Feed-item--photo .Feed-img {
  display: block;
  width: 100%;
}

.Feed-item--photo .Feed-caption {
  background: var(--colour-orange);
  bottom: -100%;
  color: #fff;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  transition: all var(--transition-time);
}

.Feed-item--photo .Feed-link:hover .Feed-caption {
  bottom: 0;
}
