/**
 * @define Article; use strict
 *
 * Article block styles
 */

.Article { }

    /* Article - text */

        .Article-title {
            text-align: center;
            margin-bottom: 1rem;
        }

            @media (--medium) {
                .Article-title {
                    margin-bottom: 2rem;
                    font-size: 3rem;
                }
            }

        .Article-description {}

        .Article-link {}


    /* Article - image comtainer */
        .Article-imagery {
            position: relative;
            margin-bottom: 1rem;
        }

            .Article-screenshots {}

                .Article-screenshots--featured {}

                .Article-screenshots--desktop {}

                .Article-screenshots--mobile {}

                .Article-screenshots--photos {}


                /* Article - images */
                    .Article-screenshot {
                        width: 100%;
                        margin-bottom: 2rem;
                    }

                        .Article-screenshot--featured {
                            margin: 0;
                        }

                        .Article-screenshot--desktop {}

                        .Article-screenshot--photo {}

                        .Article-screenshot--mobile {}

                        @media (--small) {
                            .Article-screenshot--mobile {
                                width: 47.5%;
                                display: inline-block;
                                vertical-align: top;
                            }

                            .Article-screenshot--mobile:nth-child(even) {
                                margin-right: 5%;
                            }
                        }

