/**
 * @define Back; use strict
 *
 * <back link
 */

.Back {
    margin: 1rem 0 2rem 0;
}

    .Back-link {
        margin-left: 0.7rem;
    }

        .Back-link:before {
            content: " \0003C"; /* < */
            position: absolute;
            left: -0.7rem;
            right: auto;  /* override default link hover */
            opacity: 1;  /* override default link hover */
            bottom: 0;
            border-bottom: 1px solid transparent; /* alignment */
            line-height: 1;
            font-family: var(--font-headings);
            color: var(--colour-orange);
            transition: all var(--transition-time);
        }


/* print styles */
    @media print {
        .Back {
            display: none;
        }
    }
