/**
 * @define Button; use strict
 *
 * [ button ] link
 */

.Button {
    margin: 3rem 0;
    padding-left: 0;
    line-height: 1.5;
}

    .Button-item {
        display: inline-block;
        list-style: none;
        margin-bottom: 0.25rem;
        margin-right: 1rem;
    }

        .Button-link {
            position: relative;
            padding: 0.5rem 2rem;
            font-family: var(--font-headings);
            font-size: 1.2rem;
            color: var(--colour-white);
            background: var(--colour-orange);
            border: none;
        }

        .Button-link--alt {
            background: var(--colour-green);
        }

            .Button-link:before {
                content: " \0003E"; /* > */
                position: absolute;
                left: 1rem;
                top: 25%;
                font-family: var(--font-headings);
                color: var(--colour-white);
                transition: all var(--transition-time);
            }


/* print styles */
    @media print {
        .Button {
            display: none;
        }
    }
