/**
 * @define Editorial; use strict
 *
 * Opt-in text content, see:
 * https://css-tricks.com/opt-in-typography/
 */

.Editorial {
    line-height: 1.5;
}

    .Editorial p {
        margin: 1rem 0;
    }

    .Editorial ul, ol {
        margin: 1rem 0;
    }

    .Editorial li {}
