/**
 * @define Listing; use strict
 *
 * Listing block styles
 */

.Listing {
    margin-bottom: 2rem;
}

    @media (--medium) {
        .Listing {
            margin-bottom: 3rem;
        }
    }

    /* listing - text */

        .Listing-title {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

            .Listing-titleLink {
                color: var(--colour-grey-dark);
            }

        .Listing-description {}

        .Listing-link {
            line-height: 1.5;
            margin-bottom: 1rem;
        }


    /* listing - image comtainer */
        .Listing-imagery {
            display: block;
            position: relative;
        }

            .Listing-screenshots {}

                .Listing-screenshots--desktop {}

                .Listing-screenshots--mobile {
                    position: absolute;
                    right: -0.5rem;
                    bottom: -0.5rem;
                    z-index: 1;
                    max-width: 40%;
                    transition: all var(--transition-time);
                }

                .Listing-imagery:hover .Listing-screenshots--mobile {
                    transform: perspective(600) rotateY(-20deg) rotateX(10deg);
                    transform-style: preserve-3d;
                }


                /* listing - images */
                    .Listing-screenshot {
                        width: 100%;
                        border: 2px solid var(--colour-grey-mid);
                        transition: border var(--transition-time);
                    }

                        .Listing-screenshot--desktop {}

                        .Listing-screenshot--mobile {
                            border-color: var(--colour-grey-dark);
                        }

                        .Listing-imagery:hover .Listing-screenshot {
                            border-color: var(--colour-orange);
                        }


    /* Listing blocks - full-width content blocks */
        .Listing--block {}

            .Listing--block .Listing-screenshot {
                border-width: 5px;
            }

                @media (--medium) {
                    .Listing--block .Listing-screenshot {
                        margin-bottom: 2rem;
                    }
                }

            .Listing--block .Listing-screenshot--mobile {
                bottom: -2rem;
            }

            .Listing--block .Listing-screenshot--desktop {
                right: -1rem;
            }



    /* Listing items - smaller list items with less detail */
        .Listing--item {}
