/**
 * @define Main; use strict
 *
 * Maon content area wrapper
 */

.Main {
    background: var(--colour-grey-light);
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
}

    @media (--medium) {
        .Main {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }
    }

    /* main - zig zag top */
        .Main:after {
            position: absolute;
            z-index: 1;
            content: "";
            display: block;
            top: -1rem;
            width: 100%;
            height: 1rem;

            background:
                linear-gradient(
                    45deg,
                    transparent 33.333%,
                    var(--colour-grey-light) 33.333%,
                    var(--colour-grey-light) 66.667%,
                    transparent 66.667%
                ),
                linear-gradient(
                    -45deg,
                    transparent 33.333%,
                    var(--colour-grey-light) 33.333%,
                    var(--colour-grey-light) 66.667%,
                    transparent 66.667%
                );
            background-size: 10px 30px;
        }
