/**
 * @define NumericList; use strict
 *
 * 1 numbered
 * 2 lists
 */

.NumericList {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 0;
    line-height: 1.5;
}

    .NumericList-item {
        list-style: decimal;
        margin-bottom: 0.25rem;
    }
