/**
 * @define PageTitle; weak
 *
 * Page title blocks
 * weak linting due to <strong> element being injected by markdown, therefore
 * it can't have any classes added
 */

.PageTitle {
    background: var(--colour-white);
    padding: 2rem 0;
    margin-bottom: 0.5rem; /* space taken up by zig-zag */
}

    @media (--medium) {
        .PageTitle {
            padding: 3rem 0;
        }
    }

    /* page title with a bg image rather than text */
    .PageTitle--featured {
        /*border-top: 1px solid var(--colour-white);*/
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 40%;
        position: relative;
        transition: padding var(--transition-time);
    }

        @media (--small) {
            .PageTitle--featured {
                padding-bottom: 30%;
            }
        }

        @media (--medium) {
            .PageTitle--featured {
                padding-bottom: 15%;
            }
        }

        .PageTitle--featured:after {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: repeating-linear-gradient(
                -45deg,
                transparent 0%,
                transparent 25%,
                rgba(0, 0, 0, 0.1) 25%,
                rgba(0, 0, 0, 0.1) 50%
            );
            background-size: 20px 20px;
        }


    /* page title - heading */
        .PageTitle-heading {
            color: var(--colour-grey-mid);
            font-size: 1.5rem;
            margin: 0 auto;
            text-align: center;
            max-width: var(--width-medium);
        }

            @media (--small) {
                .PageTitle-heading {
                    font-size: 2rem;
                }
            }


            .PageTitle-heading strong {
                font-weight: normal;
                color: var(--colour-orange);
            }

            .PageTitle-heading em {
                display: block;
                font-style: normal;
                color: var(--colour-black);
            }

                .PageTitle-heading a:before {
                    display: none;  /* override default link hover */
                }


        /* page title - home modifier */
            .PageTitle-heading--home { }

                .PageTitle-heading--home em {
                    display: inline;
                }

