/**
 * @define SiteFooter; use strict
 *
 * Site Footer
 */

.SiteFooter {
    background: var(--colour-black);
    color: var(--colour-white);
    font-family: var(--font-headings);
    text-align: center;
}

    @media (--medium) {
        .SiteFooter {
            text-align: left;
        }
    }

    .SiteFooter-inner {
        padding-top: 2.5rem;
        padding-bottom: 2rem;
    }


    /* contact block */
        .SiteFooter-email {
            color: var(--colour-orange);
        }

        .SiteFooter-email,
        .SiteFooter-copy {
            margin-bottom: 0.5rem;
        }

    /* responsive layout */
        @media (--medium) {
            .SiteFooter-copy {
                float: right;
            }
        }
