# Logs
*.log

# Mac
.DS_Store
*~
*.swp
*.swo

# npm
/node_modules/
npm-debug.log

# Jekyll
/public
src/.jekyll-cache

# Deploy
deploy.sh

# Misc
_content

# compiled files
src/assets/css/site.css
src/assets/js/site.js
src/service-worker.js
