/*
 * Site header
 */

.site-header {
    background: var(--colour-grey-dark);
    text-align: center;
}

    @media (--medium) {
        .site-header {
            text-align: left;
        }
    }

    .site-header__inner {
        padding-top: 1rem;
    }

        @media (--medium) {
            .site-header__inner {
                padding-bottom: 1rem;
            }
        }


    /* site header - title */
        .site-header__title {
            display: inline-block;
            padding-right: 1rem;
            color: var(--colour-white);
            background: var(--colour-orange);
            font-family: var(--font-headings);
            margin: 0 auto 1rem auto;
            font-size: 0.8rem;
        }

            @media (--small) {
                .site-header__title {
                    font-size: 1rem;
                }
            }

            @media (--medium) {
                .site-header__title {
                    margin-bottom: 0;
                }
            }

            .site-header__title strong {
                font-family: var(--font-headings-bold);
            }

            .site-header__title:before {
                content: "\0003C  \0003E"; /* < > */
                padding: 0.5rem 1rem;
                margin-right: 1rem;
                display: inline-block;
                background: var(--colour-green);
            }


    /* site header - nav */
        .site-header__nav { }

            @media (--medium) {
                .site-header__nav {
                    position: absolute;
                    right: 1rem;
                    bottom: 0;
                }
            }
