/*
 * Site footer
 */

.site-footer {
    background: var(--colour-black);
    color: var(--colour-white);
    font-family: var(--font-headings);
    text-align: center;
}

    @media (--medium) {
        .site-footer {
            text-align: left;
        }
    }

    .site-footer__inner {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

        .site-footer__contact {
            color: var(--colour-orange);
        }

        @media (--medium) {
            .site-footer__contact {
                float: left;
            }

            .site-footer__copy {
                float: right;
            }
        }
