---
title: Home
page_title: __Pete Goodman__ - freelance _web developer_ and _teacher_ based in Brighton, UK
---

            {% include page-title.html modifier="home" %}

            {% include main-open.html %}

            <h3>Home page content</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            {% include main-close.html %}
