/**
 * @define utilities;
 *
 * Enforce max-width across site
 */

.u-contentWrap {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-large);
  padding-left: var(--gutter-small);
  padding-right: var(--gutter-small);
  position: relative;
}

@media (--medium) {
  .u-contentWrap {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}
