
            <div class="Feed-item Feed-item--lastfm js-feed" data-uri="/lastfm/latest-tracks?limit=1" data-loading="Loading latest track">
                <span class="Feed-icon">
                    <i class="icon-headphones"></i>
                    <span class="Feed-iconLabel">song</span>
                </span>
                <span class="Feed-message">
                    See what I've been listening to recently
                </span>
                <em class="Feed-source">
                    &mdash; via <a href="http://last.fm/user/thegingerbloke" rel="external">Last.fm</a>
                </em>
                <span class="js-feed-template u-hidden">
                    <em data-content="artist"></em>:
                    <strong data-content="title"></strong>
                    <span class="Feed-date">(<span data-content="date" data-transform="moment"></span>)</span>
                </span>
            </div>
