
            <div class="Feed-item Feed-item--spotify js-feed" data-uri="/spotify/playlists?limit=1" data-loading="Loading latest playlist">
                <span class="Feed-icon">
                    <i class="icon-music"></i>
                    <span class="Feed-iconLabel">playlist</span>
                </span>
                <span class="Feed-message">
                    See my latest playlists
                </span>
                <em class="Feed-source">
                    &mdash; via <a href="https://open.spotify.com/user/thegingerbloke" rel="external">Spotify</a>
                </em>
                <span class="js-feed-template u-Hidden">
                    <a data-href="url" rel="external" target="_blank">
                        <em data-content="title"></em>
                    </a>
                </span>
            </div>
