
            <div class="Feed-item Feed-item--strava js-feed" data-uri="/strava/latest-runs?limit=1" data-loading="Loading latest run">
                <span class="Feed-icon">
                    <i class="icon-lightning"></i>
                    <span class="Feed-iconLabel">run</span>
                </span>
                <span class="Feed-message">
                    See my latest runs
                </span>
                <em class="Feed-source">
                    &mdash; via <a href="https://open.strava.com/athletes/thegingerbloke" rel="external">Strava</a>
                </em>
                <span class="js-feed-template u-hidden">
                    <a data-href="url" rel="external" target="_blank">
                        <span data-content="distance"></span>,
                        <span data-content="time"></span>
                    </a>
                    <span class="Feed-date">(<em data-content="location"></em>, <span data-content="date" data-transform="moment"></span>)</span>
                </span>
            </div>
