
            <div class="Feed-item Feed-item--github js-feed" data-uri="/github/commits?limit=1" data-loading="Loading latest commit">
                <span class="Feed-icon">
                    <i class="icon-code"></i>
                    <span class="Feed-iconLabel">code</span>
                </span>
                <span class="Feed-message">
                    See my latest commits
                </span>
                <em class="Feed-source">
                    &mdash; via <a href="https://github.com/thegingerbloke" rel="external">GitHub</a>
                </em>
                <span class="js-feed-template u-hidden">
                    <a data-href="url" rel="external" target="_blank">
                        <em data-content="title"></em>
                    </a>
                    <span class="Feed-date">(<span data-content="date" data-transform="moment"></span>)</span>
                </span>
            </div>
