
            <div class="Feed-item Feed-item--flickr js-feed" data-uri="/flickr/photos?limit=1" data-loading="Loading latest photo">
                <span class="Feed-icon">
                    <i class="icon-camera"></i>
                    <span class="Feed-iconLabel">photo</span>
                </span>
                <span class="Feed-message">
                    See my latest photos
                </span>
                <em class="Feed-source">
                    &mdash; via <a href="https://flickr.com/photos/thegingerbloke" rel="external">Flickr</a>
                </em>
                <span class="js-feed-template u-Hidden">
                    <a data-href="url" rel="external" target="_blank">
                        <em data-content="title"></em>
                    </a>
                    <span class="Feed-date">(<span data-content="date" data-transform="moment"></span>)</span>
                </span>
            </div>
