
            <div class="Feed-item Feed-item--goodreads js-feed" data-uri="/goodreads/books?limit=1" data-loading="Loading latest book">
                <span class="Feed-icon">
                    <i class="icon-book"></i>
                    <span class="Feed-iconLabel">book</span>
                </span>
                <span class="Feed-message">
                    See what I've been reading recently
                </span>
                <em class="Feed-source">
                    &mdash; via <a href="https://www.goodreads.com/review/list/67843" rel="external">Goodreads</a>
                </em>
                <span class="js-feed-template u-Hidden">
                    <em data-content="author"></em>:
                    <strong data-content="title"></strong>
                    <span class="Feed-date">(<span data-content="date" data-transform="moment"></span>)</span>
                </span>
            </div>
