/*
 * back links
 */

.back {
    margin-bottom: 2rem;
}

    .back__link {
        margin-left: 0.7rem;
    }

        .back__link:before {
            content: " \0003C"; /* < */
            position: absolute;
            left: -0.7rem;
            bottom: 0;
            border-bottom: 1px solid transparent; /* alignment */
            /*opacity: 0;*/
            line-height: 1;
            font-family: var(--font-headings);
            color: var(--colour-orange);
            transition: all var(--transition-time);
        }

        .back__link:after {
            display: none;
        }
