/*
 * Block styles
 */

.block {
    margin-bottom: 3rem;
}


    .block__header {
        border-bottom: 1px solid var(--colour-grey-mid);
    }

        .block__title {
            display: inline-block;
            margin-right: 1rem;
            color: var(--colour-orange);
        }

