/*
 * Block styles
 */

.block {
    margin-bottom: 1rem;
}


    .block__header {
        border-bottom: 1px solid var(--colour-grey-mid);
    }

        .block__title {
            color: var(--colour-orange);
        }

