/*
 * Portfolio blocks
 */

.portfolio {}


    /* portfolio - information */
        .portfolio__information {}

            .portfolio__title {}

            .portfolio__description {}


    /* portfolio - image comtainer */
        .portfolio__imagery {
            position: relative;
        }

            .portfolio__screenshots {}

                .portfolio__screenshots.-desktop {}

                .portfolio__screenshots.-mobile {
                    position: absolute;
                    right: 0;
                    bottom: -2rem;
                    z-index: 1;
                    max-width: 40%;
                    transition: all var(--transition-time);
                }

                .portfolio__imagery:hover .portfolio__screenshots.-mobile {
                    transform: perspective(600) rotateY(-20deg) rotateX(10deg);
                    transform-style: preserve-3d;
                }


                /* portfolio - images */
                    .portfolio__screenshot {}

                        .portfolio__screenshot.-desktop {
                            width: 100%;
                            padding-right: 2rem;
                        }

                        .portfolio__screenshot.-mobile {}
