---
layout: page
section: Labs
---

        {% include PageTitle/PageTitle.html title=page.title id=page.id featured=page.images.featured %}

        {% include Main/Main-open.html %}

        <section class="Block" aria-labelledby="project-detail">
          <div class="Article">
            <h1 class="Article-title">{{page.title}}</h1>
            <div class="Article-information">
              <div class="Article-description">
                <div class="Editorial">
                  <h3>Details</h3>
                  <ul class="BulletedList">
                    <li class="BulletedList-item">
                      Date: {{ page.date | date: '%B %Y' }}
                    </li>

                    {% if page.links.demo %}
                    <li class="BulletedList-item">
                      <a href="{{page.links.demo}}" rel="external">
                        See demo
                      </a>
                    </li>
                    {% endif %}

                    {% if page.links.code %}
                      <li class="BulletedList-item">
                        <a href="{{page.links.code}}" rel="external">
                          View code
                        </a>
                      </li>
                    {% endif %}
                  </ul>

                  {% if page.technologies %}
                  <h3>Technologies/Skills</h3>
                  <ul class="BulletedList">
                    {% for technology in page.technologies %}
                    <li class="BulletedList-item">{{technology}}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}

                  {% if page.collaborators %}
                  <h3>Collaborators</h3>
                  <ul class="BulletedList">
                    {% for collaborator in page.collaborators %}
                    <li class="BulletedList-item">
                      <a href="{{site.data.comrades[collaborator].link}}" rel="external">
                        {{site.data.comrades[collaborator].name}}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div><!--
            --><div class="Article-content">
              <div class="Article-description">
                <div class="Editorial">
                  {{ content }}
                </div>
                {% if page.links %}
                <ul class="Button">
                  {% if page.links.demo %}
                  <li class="Button-item">
                    <a class="Button-link" href="{{page.links.demo}}" rel="external">
                      See demo
                    </a>
                  </li>
                  {% endif %}
                  {% if page.links.code %}
                  <li class="Button-item">
                    <a class="Button-link Button-link--alt" href="{{page.links.code}}" rel="external">
                      View code
                    </a>
                  </li>
                  {% endif %}
                </ul>
                {% endif %}
              </div>

              {% if page.video %}
              <div class="Article-video">
                <div class="Editorial">
                  <h2>Example video</h2>
                  {% include Video/Video.html id=page.id video=page.video.video screenshot=page.video.screenshot %}
                </div>
              </div>
              {% endif %}

              <div class="Article-imagery">
                {% if page.images.desktop %}
                <div class="Article-screenshots Article-screenshots--desktop">
                  <div class="Editorial">
                    <h2>Desktop Screenshots</h2>
                  </div>
                  {% for screenshot in page.images.desktop %}
                    <img data-normal="/assets/images{{page.id}}/{{screenshot}}" alt="" class="Article-screenshot Article-screenshot--desktop">
                  {% endfor %}
                </div>
                {% endif %}

                {% if page.images.mobile %}
                <div class="Article-screenshots Article-screenshots--mobile">
                  <div class="Editorial">
                    <h2>Mobile Screenshots</h2>
                  </div><!--
                  {% for screenshot in page.images.mobile %}
                    --><img data-normal="/assets/images{{page.id}}/{{screenshot}}" alt="" class="Article-screenshot Article-screenshot--mobile"><!--
                  {% endfor %}
                --></div>
                {% endif %}

                {% if page.images.photos %}
                <div class="Article-screenshots Article-screenshots--photos">
                  <div class="Editorial">
                    <h2>Photos</h2>
                  </div>
                  {% for photo in page.images.photos %}
                    <img data-normal="/assets/images{{page.id}}/{{photo}}" alt="" class="Article-screenshot Article-screenshot--photo">
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
          </div><!-- /.Article -->
        </section>

        {% include Main/Main-close.html %}
