<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% include Head/Head-title.html %}
    {% include Head/Head-description.html %}
    {% include Head/Head-cards.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/site.css">
    <meta name="theme-color" content="#ff9900">
  </head>

  {% include Head/Head-comment.html %}

  <body>

    {{ content }}

    <script src="/assets/js/site.js"></script>

  </body>
</html>
