---
layout: master
section: Portfolio
---

            {% include PageTitle/PageTitle.html title=page.title %}

            {% include Main/Main-open.html %}

            {% include Back/Back.html title="Back to all projects" %}

            <section class="Block" aria-labelledby="project-detail">

                <div class="Listing">

                    <div class="Listing-imagery">
                        <div class="Listing-screenshots">
                            <img src="http://placehold.it/500x200" alt="" class="Listing-screenshot">
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid__item one-whole medium--one-third">

                            <div class="Listing-information">
                                <div class="Listing-description">
                                    <div class="Editorial">
                                        <h3>Project details</h3>
                                        <ul class="BulletedList">
                                            <li class="BulletedList-item">Date: ...</li>
                                            <li class="BulletedList-item">Client: <a href="#">...</a></li>
                                            <li class="BulletedList-item">URL: <a href="#">www.project.url</a></li>
                                        </ul>

                                        <h3>Skills</h3>
                                        <ul class="BulletedList">
                                            <li class="BulletedList-item">PHP</li>
                                            <li class="BulletedList-item">HTML</li>
                                        </ul>

                                        <h3>Collaborators</h3>
                                        <ul class="BulletedList">
                                            <li class="BulletedList-item">Lorem</li>
                                            <li class="BulletedList-item">Ipsum</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!--

                        --><div class="grid__item one-whole medium--two-thirds">

                            <div class="Listing-information">
                                <div class="Listing-description">
                                    <div class="Editorial">
                                        {{ content }}
                                    </div>
                                </div>
                            </div>

                            <div class="Listing-imagery">
                                <div class="Listing-screenshots">
                                    <img src="http://placehold.it/500x300" alt="" class="Listing-screenshot">
                                    <img src="http://placehold.it/500x300" alt="" class="Listing-screenshot">
                                    <img src="http://placehold.it/500x300" alt="" class="Listing-screenshot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.listing -->
            </section>

            {% include Main/Main-close.html %}
