---
layout: page
title: 500
---

            {% include PageTitle/PageTitle.html title="Oh oh... _500_" %}
            {% include Main/Main-open.html %}

            <section class="Block">
              <div class="Block-columns">
                <div class="Block-column">
                  <div class="Editorial">
                    <p>Ouch.</p>
                    <p>Something bad happened.</p>
                    <p>This is awkward.</p>
                  </div>
                  <ul class="BulletedList">
                    <li class="BulletedList-item">Return to the <a href="../">home page</a></li>
                  </ul>
                </div><!--
                --><div class="Block-column Block-column--double">
                  <div class="Editorial">
                    <img class="is-full" src="/assets/images/404.gif" alt="Urgh!">
                  </div>
                </div>
              </div>
            </section>
            {% include Main/Main-close.html %}
