
                <div class="Comrades">
                    <div class="Editorial">
                        <p>If you are looking for experienced developers, I can recommend the <em>Comrades!</em></p>

                        <p>We’re a small group of freelance developers who often work together on projects. We try to keep our eyes open for interesting contracts with nice people that could involve at least a few of us.</p>

                        <p>You can read more about our collective on the <em><a href="http://madebycomrades.com" rel="external">Comrades!</a></em> website</p>
                    </div>
                </div>
