{% capture card %}{% if page.images.thumbs.desktop %}summary_large_image{% else %}summary{% endif %}{% endcapture %}
{% capture title %}{% if page.title %}{{ page.title }} | {% endif %}{% if page.section %}{{ page.section }} | {% endif %}{{ site.sitetitle }}{% endcapture %}
{% capture description %}{%if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.sitedescription }}{% endif %}{% endcapture %}
{% capture image %}{{ site.sitehost }}{% if page.images.thumbs.desktop %}/assets/images{{page.type}}{{page.id}}/{{page.images.thumbs.desktop}}{% else %}/assets/images/avatar.png{% endif %}{% endcapture %}

    <meta name="twitter:card" content="{{card}}">
    <meta name="twitter:site" content="@{{ site.sitehandle }}">
    <meta name="twitter:creator" content="@{{ site.sitehandle }}">
    <meta property="og:url" content="{{ site.sitehost }}{{ page.id }}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{image}}">
