[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(sprite.svg);
}
.icon-camera {
	width: 32px;
	height: 32px;
	background-position: 0 0;
}
.icon-music {
	width: 32px;
	height: 32px;
	background-position: -48px 0;
}
.icon-headphones {
	width: 32px;
	height: 32px;
	background-position: -96px 0;
}
.icon-code {
	width: 32px;
	height: 32px;
	background-position: -144px 0;
}
.icon-book {
	width: 32px;
	height: 32px;
	background-position: -192px 0;
}
.icon-lightning {
	width: 32px;
	height: 32px;
	background-position: -240px 0;
}
