---
title: About
---

            {% include PageTitle/PageTitle.html title="A bit about __me__" %}

            {% include Main/Main-open.html %}

            <section class="Block" aria-labelledby="about-me">
                <h2 class="u-VisuallyHidden">About me</h2>
                <div class="grid">

                    <div class="grid__item one-whole medium--two-thirds">
                        <div class="Editorial">
                            {% capture about %}{% include About/About-main.md %}{% endcapture %}
                            {{ about | markdownify }}
                            <ul class="BulletedList">
                                <li class="BulletedList-item"><a href="/cv/">See my CV</a></li>
                                <li class="BulletedList-item"><a href="https://github.com/{{ site.sitehandle }}" rel="external">See my GitHub profile</a></li>
                                <li class="BulletedList-item"><a href="https://www.linkedin.com/in/petegoodman" rel="external">See my linkedin profile</a></li>
                            </ul>
                        </div>
                    </div><!--

                    --><div class="grid__item one-whole medium--one-third">
                        <a href="https://www.flickr.com/photos/thegingerbloke/3873433525/" rel="external">
                            <img src="/assets/images/me.jpg" alt="Me">
                        </a>
                    </div>
                </div>
            </section>


            <section class="Block" aria-labelledby="comrades">

                {% include Block/Block-header.html title="Comrades" slug="comrades" width="medium--one-third" %}

                <div class="grid">
                    <div class="grid__item one-whole">

                        {% include Comrades/Comrades.html %}

                    </div>
                </div>
            </section>


            <section class="Block" aria-labelledby="samosa">
                {% include Block/Block-header.html title="Elsewhere on the web" slug="samosa" width="medium--one-third" %}

                <div class="grid">
                    <div class="grid__item one-whole medium--one-third">
                        <h3>Spotify playlists</h3>
                        <ul class="BulletedList">
                            <li class="BulletedList-item"><a href="#">lorem</a></li>
                            <li class="BulletedList-item"><a href="#">ipsum</a></li>
                        </ul>
                    </div><!--
                    --><div class="grid__item one-whole medium--one-third">
                        <h3>Last.fm most-played artists</h3>
                        <ul class="BulletedList">
                            <li class="BulletedList-item"><a href="#">lorem</a></li>
                            <li class="BulletedList-item"><a href="#">ipsum</a></li>
                        </ul>
                    </div><!--
                    --><div class="grid__item one-whole medium--one-third">
                        <h3>Flickr photostream</h3>
                        <ul class="BulletedList">
                            <li class="BulletedList-item"><a href="#">lorem</a></li>
                            <li class="BulletedList-item"><a href="#">ipsum</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            {% include Main/Main-close.html %}
