---
title: About
---

            {% include PageTitle/PageTitle.html title="A bit about __me__" %}

            {% include Main/Main-open.html %}

            <section class="Block" aria-labelledby="about-me">
                <h2 class="u-visuallyHidden">About me</h2>
                <div class="grid">

                    <div class="grid__item one-whole medium--two-thirds">
                        <div class="Editorial">
                            {% capture about %}{% include About/About-main.md %}{% endcapture %}
                            {{ about | markdownify }}
                        </div>
                        <ul class="BulletedList">
                            <li class="BulletedList-item"><a href="/cv/">See my CV</a></li>
                            <li class="BulletedList-item"><a href="https://github.com/{{ site.sitehandle }}" rel="external">See my GitHub profile</a></li>
                            <li class="BulletedList-item"><a href="https://www.linkedin.com/in/petegoodman" rel="external">See my linkedin profile</a></li>
                        </ul>
                    </div><!--

                    --><div class="grid__item one-whole medium--one-third">
                        <a href="https://www.flickr.com/photos/thegingerbloke/3873433525/" rel="external" class="is-arrowless">
                            <img src="/assets/images/me.jpg" alt="Me">
                        </a>
                    </div>
                </div>
            </section>


            <section class="Block" aria-labelledby="comrades">

                {% include Block/Block-header.html title="Comrades" slug="comrades" width="medium--one-third" %}

                <div class="grid">
                    <div class="grid__item one-whole">

                        {% include Comrades/Comrades.html %}

                    </div>
                </div>
            </section>


            <section class="Block" aria-labelledby="samosa">
                {% include Block/Block-header.html title="Elsewhere on the web" slug="samosa" width="medium--one-third" %}

                <div class="grid">
                    <div class="grid__item one-whole medium--one-third">
                        <div class="Editorial">
                            <h3><a href="https://open.spotify.com/user/thegingerbloke" rel="external">Spotify</a> playlists</h3>
                        </div>

                        <div class="Feed">
                            <ul class="BulletedList js-feed" data-uri="/spotify/playlists?limit=50" data-loading="Loading playlists">
                                <li class="BulletedList-item js-feed-template u-hidden">
                                    <div class="Feed-item Feed-item--playlist">
                                        <a data-href="url" rel="external" target="_blank">
                                            <span data-content="title"></span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!--

                    --><div class="grid__item one-whole medium--one-third">
                        <div class="Editorial">
                            <h3><a href="http://last.fm/user/thegingerbloke" rel="external">Last.fm</a> most-played artists</h3>
                        </div>

                        <div class="Feed">
                            <ol class="NumericList js-feed" data-uri="/lastfm/top-artists?limit=50" data-loading="Loading artists">
                                <li class="NumericList-item js-feed-template u-hidden">
                                    <div class="Feed-item Feed-item--artist">
                                        <span class="Feed-fill">
                                            <span class="Feed-filler" data-content="playcount_percentage" data-transform="playcount-width"></span>
                                        </span>
                                        <span data-content="artist"></span>
                                        <span class="Feed-playcount">(<em data-content="playcount"></em> plays)</span>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div><!--

                    --><div class="grid__item one-whole medium--one-third">
                        <div class="Editorial">
                            <h3><a href="https://flickr.com/photos/thegingerbloke" rel="external">Flickr</a> photostream</h3>
                        </div>

                        <div class="Feed">
                            <div class="js-feed" data-uri="/flickr/photos?limit=10" data-loading="Loading playlists">
                                <div class="js-feed-template u-hidden">
                                    <div class="Feed-item Feed-item--photo">
                                        <a class="Feed-link is-arrowless" rel="external" target="_blank" data-href="url">
                                            <img class="Feed-img" data-src="image" data-alt="title">
                                            <p class="Feed-caption" data-content="title"></p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include Main/Main-close.html %}
