
          <div class="Listing Listing--block">

            <div class="Listing-information">
              <h3 class="Listing-title">
                <a class="Listing-titleLink is-arrowless" href="{% if include.url %}{{ include.url }}{% else %}{{ include.item.url }}{% endif %}">
                  {{include.item.title}}
                </a>
              </h3>
              <div class="Listing-description">
                <div class="Editorial">
                  {{include.item.excerpt | markdownify}}
                </div>
                <p class="Listing-link">
                  {% if include.url and include.link %}
                  <a href="{{include.url}}">{{include.link}}</a>
                  {% else %}
                  <a href="{{include.item.url}}">Read more about this project</a>
                  {% endif %}
                </p>
              </div>
            </div><!--

            --><a class="Listing-imagery is-arrowless" href="{% if include.url %}{{ include.url }}{% else %}{{ include.item.url }}{% endif %}">
              <div class="Listing-screenshots Listing-screenshots--desktop">
                {% if include.item.images.thumbs.desktop %}
                <img data-normal="/assets/images{{include.item.id}}/{{include.item.images.thumbs.desktop]}}" alt="" class="Listing-screenshot Listing-screenshot--desktop">
                {% endif %}
              </div>
              <div class="Listing-screenshots Listing-screenshots--mobile">
                {% if include.item.images.thumbs.mobile %}
                <img data-normal="/assets/images{{include.item.id}}/{{include.item.images.thumbs.mobile]}}" alt="" class="Listing-screenshot Listing-screenshot--mobile">
                {% endif %}
              </div>
            </a>
          </div><!-- /.Listing -->
