/**
 * @define Listing; use strict
 *
 * Listing block styles
 */

.Listing {
  margin-bottom: 2rem;
}

@media (--medium) {
  .Listing {
    margin-bottom: 3rem;
  }
}

/* listing - text */

.Listing-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media (--medium) {
  .Listing-title {
    font-size: 1.8rem;
  }
}

.Listing-titleLink {
  color: var(--colour-grey-dark);
}

.Listing-link {
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* listing - image container */

.Listing-imagery {
  display: block;
  margin-bottom: 1.5rem;
  position: relative;
}

.Listing-screenshots--mobile {
  bottom: -0.5rem;
  max-width: 40%;
  position: absolute;
  right: -0.5rem;
  transition: all var(--transition-time);
  transform: perspective(600px) rotateY(0deg) rotateX(0deg);
  z-index: 1;
}

@media (--medium) {
  .Listing-screenshots--mobile {
    bottom: -1rem;
    right: -1rem;
  }
}

.Listing-imagery:hover .Listing-screenshots--mobile {
  transform: perspective(600px) rotateY(-15deg) rotateX(8deg);
}

/* listing - images */

.Listing-screenshot {
  transition: transform var(--transition-time) ease-in-out,
    box-shadow 0.1s ease-in-out;
  width: 100%;
}

.Listing-screenshot--desktop {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
}

.Listing-screenshot--mobile {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.Listing-imagery:hover .Listing-screenshot--desktop {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.Listing-imagery:hover .Listing-screenshot--mobile {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

/* Listing blocks - full-width content blocks */

@media (--medium) {
  .Listing--block {
    margin-left: -var(--gutter);
  }

  .Listing--block .Listing-information {
    display: inline-block;
    padding-left: var(--gutter);
    vertical-align: top;
    width: 33.33%;
  }

  .Listing--block .Listing-imagery {
    display: inline-block;
    padding-left: var(--gutter);
    vertical-align: top;
    width: 66.66%;
  }
}

.Listing--block .Listing-title {
  font-size: 1.6rem;
  margin-top: 0;
}

@media (--medium) {
  .Listing--block .Listing-title {
    font-size: 2.4rem;
  }
}

/* add space between block title and first listing title */

.Listing--block:nth-child(2) .Listing-title {
  margin-top: 1rem;
}

/* bring first listing block image up in line with block title */

.Listing--block:nth-child(2) .Listing-imagery {
  margin-top: -var(--border-width);
}

@media (--medium) {
  .Listing--block .Listing-screenshot {
    margin-bottom: 2rem;
  }
}

@media (--medium) {
  .Listing--block .Listing-screenshots--mobile {
    bottom: -1rem;
    max-width: 30%;
    right: -1rem;
  }
}

@media (--large) {
  .Listing--block .Listing-screenshots--mobile {
    bottom: -1.5rem;
    right: -1.5rem;
  }
}

.Listing--block .Listing-screenshot--desktop {
  right: -1rem;
}
