{% capture home_class %}{% if page.url == '/' %} is-active{% endif %}{% endcapture %}
{% capture portfolio_class %}{% if page.url contains 'portfolio/' %} is-active{% endif %}{% endcapture %}
{% capture labs_class %}{% if page.url contains 'labs/' %} is-active{% endif %}{% endcapture %}
{% capture about_class %}{% if page.url contains 'about/' %} is-active{% endif %}{% endcapture %}

          <ul class="SiteNav">
            <li class="SiteNav-item">
              <a class="SiteNav-link{{ home_class }}" href="/">Home</a>
            </li>
            <li class="SiteNav-item">
              <a class="SiteNav-link{{ about_class }}" href="/about/">About</a>
            </li>
            <li class="SiteNav-item">
              <a class="SiteNav-link{{ labs_class }}" href="/labs/">Labs</a>
            </li>
            <li class="SiteNav-item">
              <a class="SiteNav-link{{ portfolio_class }}" href="/portfolio/">Portfolio</a>
            </li>
          </ul>
