---
title: Home
---

    {% include PageTitle/PageTitle.html
        title="Pete // __f90__ _Freelance developer based in Brighton, UK_" %}

    {% include Main/Main-open.html %}

        <section class="Block">
          <div class="Block-columns">
            <div class="Block-column" aria-labelledby="about">
                {% include Block/Block-header.html title="About me" slug="about" %}
                <div class="Editorial">
                  {% capture about %}{% include About/About-home.md %}{% endcapture %}
                  {{ about | markdownify }}
                </div>
                <p><a href="./about/">Read a bit more about me</a></p>
            </div><!--

            --><div class="Block-column" aria-labelledby="latest-labs">
              {% include Block/Block-header.html title="Latest labs" slug="latest-labs" %}
              {% assign featuredLab = site.tags["featured-lab"][0] %}
              {% include Listing/Listing--item.html item=featuredLab %}
            </div><!--

            --><div class="Block-column" aria-labelledby="latest-work">
              {% include Block/Block-header.html title="Latest work" slug="latest-work" %}
              {% assign featuredProject = site.tags["featured-project"][0] %}
              {% include Listing/Listing--item.html item=featuredProject %}
            </div>
          </div>
        </section>

    {% include Main/Main-close.html %}
