---
title: Home
---

            {% include PageTitle/PageTitle.html modifier="home" title="__Pete Goodman__ - freelance _web developer_ and _teacher_ based in Brighton, UK" %}

            {% include Main/Main-open.html %}

            <section class="Block" aria-labelledby="recent-work">

                {% include Block/Block-header.html title="Recent work" slug="recent-work" width="medium--one-third" %}

                {% assign featuredProject = site.tags["featured-project"][0] %}
                {% include Listing/Listing--block.html item=featuredProject url="/portfolio/" link="See more of my projects" %}

            </section>


            <div class="grid">

                <div class="grid__item one-whole medium--one-third">

                    <section class="Block" aria-labelledby="about">

                        {% include Block/Block-header.html title="About me" slug="about" %}

                        <div class="Editorial">
                            {% capture about %}{% include About/About-home.md %}{% endcapture %}
                            {{ about | markdownify }}
                        </div>

                        <p><a href="./about/">See a bit more about me</a></p>
                    </section>

                </div><!--

                --><div class="grid__item one-whole medium--one-third">

                    <section class="Block" aria-labelledby="recent">

                        {% include Block/Block-header.html title="Recent updates" slug="recent" %}

                        <div class="Editorial">
                            <p>My latest updates from elsewhere on the internet&hellip;</p>
                        </div>

                        <div class="Feed">

                            {% include Feed/Feed-item--flickr.html %}
                            {% include Feed/Feed-item--spotify.html %}
                            {% include Feed/Feed-item--lastfm.html %}
                            {% include Feed/Feed-item--goodreads.html %}
                            {% include Feed/Feed-item--github.html %}

                        </div>

                    </section>

                </div><!--

                --><div class="grid__item one-whole medium--one-third">

                    <section class="Block" aria-labelledby="recent-labs">

                        {% include Block/Block-header.html title="Recent labs" slug="recent-labs" %}

                        {% assign featuredLab = site.tags["featured-lab"][0] %}
                        {% include Listing/Listing--item.html item=featuredLab url="/labs/" link="See more of my lab projects" %}

                    </section>

                </div><!-- .grid__item -->

            </div><!-- .grid -->

            {% include Main/Main-close.html %}
