/**
 * @define NumericList; use strict
 *
 * 1 numbered
 * 2 lists
 */

.NumericList {
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  padding-left: 0;
}

.NumericList-item {
  list-style: decimal;
  margin-bottom: 0.25rem;
}
